* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}

.map {
    top: 40%;
    bottom: 10%;
    width: 100%;
    height: calc(100vh - 133px);
    margin-left: 10px;
    margin-right: 10px;
}

#mapLabel {
    color: yellow;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:black;
    background-attachment: fixed;
    background-position: center;
    padding-top:60px;
    animation-name: colorful;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes colorful {
    0% {
      background-color: white;
      top: 0px;
      left: 0px;
    }
    25% {
      background-color: white;
      top: 0px;
        left: 30px;
    }
    50% {
      background-color: black;
      top: 50px;
        left: 30px;
    }
    70% {
      background-color: black;
      top: 50px;
      left: -30px
    }
    85% {
        background-color: magenta;;
      top: 50px;
      left: 0px;
    }
    100% {
        background-color: white;
        top: 50px;
        left: -40px;
    }
}

.box {
    background-color: magenta;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: none;
}

@media (min-width: 1200px) {
  .content{ margin: 0 auto; margin-bottom: 10px;}
  .box{height: fit-content;}
  header{ padding: auto;}
  h2{font-size: 82px;}
  h4{font-size: 22px; position: center; margin-left: 0px;}
}

  /* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .content{ margin: 0 auto; margin-bottom: 10px;}
    .box{height: fit-content;}
    header{ padding: auto;}
    img { margin-left: auto;}
    h2{font-size: 55px; margin-right: -36px;}
    h4{font-size: 15px; position: center; margin-left: 0px; margin-right: -2px; margin-top: 0px;}
    nav { margin-right: -28px; margin-top: -2px;}
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .content{ margin: 0 auto; margin-bottom: 10px;}
    .box{height: fit-content;}
    header{ padding: auto;}
    img { margin-left: auto;}
    h2{font-size: 65px;}
    h4{font-size: 20px; position: center; margin-left: 0px;}
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .content{ margin: 0 auto; margin-bottom: 10px;}
    .box{height: fit-content;}
    header{ padding: auto;}
    img { margin-left: auto;}
    h2{font-size: 65px;}
    h4{font-size: 20px; position: center; margin-left: 0px;}
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .content{ margin: 0 auto; margin-bottom: 10px;}
    .box{height: fit-content;}
    header{ padding: auto;}
    img { margin-left: auto;}
    h2{font-size: 73px;}
    h4{font-size: 18px; position: center; margin-left: 0px;}
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    .content{ margin: 0 auto; margin-bottom: 10px;}
    .box{height: fit-content;}
    header{ padding: auto;}
    img { margin-left: auto;}
    h2{font-size: 82px;}
    h4{font-size: 22px; position: center; margin-left: 0px;}
}

.alignement ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1.4em;
    margin-top: 18px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.alignement ul li {
    display: inline-block;
    margin: 6px;
    white-space: pre;
}

nav {
    float: right;
    margin-right: 36px
    
}
nav ul li a {
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    text-decoration: none;
}

nav ul li a:hover {
    color: green;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h2 {
    text-align: center;
    font-size: 73px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 84px;
    margin-right: 24px;
    margin-left: -50px;
}

ul li{
    margin-left: 1Opx;
}
ul li:first-child{
    margin-left: 0;
}

#mainContent {
    padding: 1%;
}

h3 {
    font-size: 35px;
    margin-bottom: 12px;
    color: green;
    margin-top: 20px;
}

h4 {
    text-align: center;
    margin-top: -18px;
    margin-right: 200px;
    margin-left: -194px;
    font-size: 18px;
    color: red;
    text-shadow: 20px 10px 20px black;
}

.shift {
    margin-top: -20px;
    float: left;
    height: 70px;
    width: 70px;
    margin-top: -10px;
    margin-left: -30px;
}

.shadow {
    text-shadow: 5px 5px 9px 0px green;
}

header {
    height: 300px;
    width: 100%;
    background: url(music-store.jpg) no-repeat center;
    margin-left: -10px;
    margin-top: -20px;
    margin-right: -10px;
    background-size: cover;
    padding: 40px;
    color: white;
    font-size: 130%;
}

.body {
    padding-top: 30px;
}

fieldset {
    background-color:yellow;
    color: black;
    border-radius: 20px;
    border: none;
    margin-top: -15px;
    height: fit-content;
}
img {
    margin-bottom: -2px;
    margin-left: -40px;
    border-radius: 10px;
    height: 320px;
    width: 320px;
    float: left;
    margin-top: 80px;
    margin-bottom: 80px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: large;
    position: fixed;
    bottom: 0px;
    width:100%;
    padding: 5px;
    z-index:99;
}
